.home-header {
  display: flex;
  align-items: center;
  gap: var(--small-space);

  font-size: var(--h1-font-size);
  line-height: var(--h2-line-height);
  font-weight: var(--extrabold-font-weight);
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  margin-bottom: var(--large-space);
}
