.header {
  display: flex;
  align-items: center;
  width: 600px;
}

.header__image {
  width: 55.88px;
  height: 61.75;
  margin-right: 14.12px;
}

.header__title {
  color: white;
  font-weight: 800;
  font-size: 41.83px;
  line-height: 57px;
  width: 295px;
  height: 53px;
}
