html {
  background: linear-gradient(
      157.12deg,
      rgba(65, 88, 208, 0.6) 34.86%,
      rgba(200, 80, 192, 0.444) 77.43%,
      rgba(255, 204, 112, 0.516) 100%
    ),
    #ffffff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.meme {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.memes_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}
