.title-container {
  display: flex;
  padding-bottom: 66px;
}

.title-logo {
  width: 56px;
  height: 61px;
}

.title-text {
  font-weight: 800;
  font-size: 41.83px;
  line-height: 57px;
  letter-spacing: -0.015em;

  padding-left: 14px;
}
