.title-container {
  padding-bottom: 66px;

  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 41.83px;
  line-height: 57px;
  letter-spacing: -0.015em;
  color: #ffffff;
  max-width: 1132;
  margin: 0 auto;
}
