.guif-card {
  position: relative;
  display: flex;
}
.guif-card__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.guif-card__joined-tags {
  padding: var(--spacing-tiny);
  align-self: flex-end;
  color: var(--color-white);
  font-size: var(--font-size-small);
  width: calc(200px - var(--spacing-tiny) * 2);
  position: absolute;
  z-index: 2;
  left: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
