.guif-card {
  position: relative;
  display: flex;
  padding-top: 0;
  padding-right: var(--spacing-mini);
  padding-bottom: var(--spacing-mini);
  padding-left: 0;
}
.guif-card__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.guif-card__img:hover{
  cursor:pointer;
}

.guif-card__joined-tags {
  padding-top: calc(var(--spacing-mini) + var(--spacing-tiny));
  padding-bottom: var(--spacing-tiny);
  padding-left: var(--spacing-xtiny);
  align-self: flex-end;
  color: var(--color-white);
  font-size: var(--font-size-small);
  width: calc(200px - var(--spacing-tiny) * 2);
  position: absolute;
  z-index: 2;
  left: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
