.home-container {
  max-width: var(--desktop-large-container-max-width);
  margin: 0 auto;

  padding: var(--large-space) var(--mobile-breakpoints-lateral-gap);
}

@media screen and (min-width: 1132px) {
  .home-container {
    padding: var(--large-space);
  }
}

@media screen and (min-width: 1228px) {
  .home-container {
    padding: var(--large-space) 0;
  }
}
