.home-container {
  max-width: var(--desktop-large-container-max-width);
  margin: 0 auto;

  padding: var(--large-space) var(--mobile-breakpoints-lateral-gap);
}

.home-header {
  display: flex;
  align-items: center;
  gap: var(--small-space);

  font-size: var(--h1-font-size);
  line-height: var(--h2-line-height);
  font-weight: var(--extrabold-font-weight);
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  margin-bottom: var(--large-space);
}

.home-searchbar {
  display: flex;
  align-items: center;
  margin-bottom: 66px;
}

.home-searchbar-input {
  height: 70px;
  background: white;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 400;
}

.home-searchbar-button {
  display: grid;
  place-content: center;
  height: 70px;
  width: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(
      135deg,
      rgba(255, 243, 92, 0.77) 0%,
      rgba(0, 204, 255, 0.46) 51.04%,
      rgba(0, 255, 153, 0.37) 100%
    ),
    #c4c4c4;
}

.home-title {
  display: flex;
  align-items: center;

  margin-bottom: var(--medium-space);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--color-white);
  font-weight: var(--bold-font-weight);
  letter-spacing: var(--letter-spacing);
}

.home-title-icon {
  width: 40px;
  margin-right: var(--base-space);
}

@media screen and (min-width: 1132px) {
  .home-container {
    padding: var(--large-space);
  }
}

@media screen and (min-width: 1228px) {
  .home-container {
    padding: var(--large-space) 0;
  }
}
