.home-container {
  max-width: var(--desktop-large-container-max-width);
  margin: 0 auto;

  padding: var(--large-space) var(--mobile-breakpoints-lateral-gap);
}

.home-header {
  display: flex;
  align-items: center;
  gap: 14px;

  font-size: var(--h1-font-size);
  line-height: var(--h2-line-height);
  font-weight: var(--extrabold-font-weight);
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  margin-bottom: var(--large-space);
}

.home-title {
  display: flex;
  align-items: center;

  margin-bottom: var(--medium-space);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--color-white);
  font-weight: var(--bold-font-weight);
  letter-spacing: var(--letter-spacing);
}

.home-title-icon {
  width: 40px;
  margin-right: var(--base-space);
}
