.meme {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.meme-container {
  display: flex;
  justify-content: space-between;
  width: 1132px;
  flex-wrap: wrap;
}

.meme-parent-container {
  display: flex;
  justify-content: center;
}
