.meme-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2264px;
  flex-wrap: wrap;
}

.meme {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.meme:hover{
  cursor: pointer
}
