{
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 130,
  "trailingComma": "es5",
  "tsxBracketSameLine": false,
  "tsxSingleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true
}
