.header-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: var(--spacing-large);
}

h1 {
  padding-top: var(--spacing-large);
  padding-left: var(--spacing-tiny);
  color: var(--color-white);
  font-size: var(--font-size-h1);
  font-family: "Open Sans";
  font-weight: 750;
}

.trending-title-container {
  display: flex;
  align-items: center;
}

.trending-icon {
  padding-top: var(--spacing-large);
}

h2 {
  padding-top: var(--spacing-large);
  padding-left: var(--spacing-tiny);
  color: var(--color-white);
  font-size: var(--font-size-h2);
  font-family: "Open Sans";
  font-weight: 600;
}
