.header-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: var(--spacing-large);
  padding-left: var(--spacing-mini);
  padding-bottom: var(--spacing-large);
}
.logo:hover{
  cursor: pointer;
}

h1 {
  padding-top: var(--spacing-large);
  padding-left: var(--spacing-tiny);
  padding-bottom: var(--spacing-large);
  color: var(--color-white);
  font-size: var(--font-size-h1);
  font-family: "Open Sans";
  font-weight: 750;
}

.homePageLink{
  text-decoration: none;
}

.logo--container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
.trending-title-container {
  display: flex;
  align-items: center;
}

.trending-icon {
  padding-left: var(--spacing-mini);
  padding-bottom: var(--spacing-medium);
}

h2 {
  padding-left: var(--spacing-tiny);
  padding-bottom: var(--spacing-medium);
  color: var(--color-white);
  font-size: var(--font-size-h2);
  font-family: "Open Sans";
  font-weight: 600;
}
