.searchInput {
  display: flex;
  align-items: center;
  margin-top: 66px;
  height: 40px;
  border-radius: 15px;
  background-color: white;
}

.boxInput {
  width: 100%;
  outline-width: inherit;
  border-style: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.boxButton {
  padding: 0;
  margin: 0;
  outline-width: inherit;
  border-style: hidden;
  border-radius: 0px 15px 15px 0px;
}
