.titlePage {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.arrowImage {
  display: flex;
  align-content: center;
  margin-right: 14.12px;
}

.titlePage__Name {
  color: white;
  font-weight: 700;
  font-size: 36.41px;
  line-height: 49.58px;
}
