.container {
  overflow-y: auto;
  margin: 0 auto;
  padding-top: 57px;
  padding-bottom: 57px;
}


@media (width >= 1132px) {
  .container {
    max-width: 1132px;
    padding-left: 48px;
    padding-right: 48px;
    min-height: 900px;
  }
}

@media (width < 1132px) {
  .container {
    max-width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    min-height: 900px;
  }
}

@media (width < 768px) {
  .container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 610px;
  }
}

@media (width < 480px) {
  .container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 450px;
  }
}