@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
:root {
  --desktop-max-width: 1132px;
  /* Spacing: */
  --spacing-xtiny: 4px;
  --spacing-tiny: 8px;
  --spacing-small: 12px;
  --spacing-mini: 16px;
  --spacing-base: 24px;
  --spacing-medium: 32px;
  --spacing-large: 48px;
  --spacing-xlarge: 64px;
  --spacing-huge: 96px;

  /* Font sizes: */
  --font-size-small: 12.64px;
  --font-size-base: 16px;
  --font-size-h4: 18px;
  --font-size-h3: 25.63px;
  --font-size-h2: 36.41px;
  --font-size-h1: 41.83px;

  /* Colors: */
  --color-purple: #9933ff;
  --color-lightred: #ff6666;
  --color-lightblue: #00ccff;
  --color-lightgreen: #00ff99;
  --color-lightyellow: #fff9aa;
  --color-blue: #4158d0;
  --color-pink: #c850c0;
  --color-yellow: #ffcc70;

  --color-black: #000000;
  --color-grey: #999999;
  --color-white: #ffffff;
}
